
.titulo {
    padding: 10pt;
    margin: 5pt 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 
}

.enlaceProy {
  width: 100%;
  padding: 10pt 0pt;
  margin: 10pt 0;
  display: flex;
  justify-content: center;
  background: rgba(63, 144, 180, 0.8);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.titulo2 {
  width: 100%;
  display: flex;
  justify-content: center;
    padding: 10pt 0;
    margin: 10pt 0;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body{
  width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: rgb(62,182,184);
    background: linear-gradient(180deg, rgba(62,182,184,1) 0%, rgba(10,65,103,1) 100%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


.descripcion{

    display: flex;
    -ms-flex-align: center;
    padding: 20pt 20pt 20pt 20pt;
    margin: 20pt 10%;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.experiencia {

    padding: 0pt 10% 0pt 10%;

}

.educacion {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    padding: 0pt 10% 0pt 10%;
}

.habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    padding: 10pt 0;
}

.contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
  padding: 20pt auto;
  margin: 10pt 0;
}

.linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: space-evenly;
}

a {
  color: rgb(249, 249, 249);
}

.manito{
  padding: 0 0 0 10px;
}
.volver{

  padding: 5% 0 5% 0;
}

.infoProyectos {
  display: flex;
  justify-content: center;
  padding: 10pt 0 5pt 0;

}

.container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 75vw;
  max-width: 1000px;
  min-width: 250px;
  flex-direction: column;
  padding: 0 0 10pt 0;
}

ul, li {
    padding: 0;

    list-style: none;
}

ul.slider{
  position: relative;
  width: 420px;
  height: 250px;

}

main{
  margin: 0;
  min-width: 320px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    /* height: inherit; */
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 420px;
  object-fit: scale-down;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;

}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(31, 26, 59);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 50%;
}

.texParrafo {
  justify-content: center;
  padding: 10pt 10%;


}

h4 {
  padding: 20pt 0 0 0;
}

#caja{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}