/*Importaciones*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
 }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
   }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  }


.titulo {
    padding: 0pt 10% 0pt 10%;
    margin: 10pt 0 10pt 0;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: solid #121B26;
    background-color:#121B26;
    color: #ffffff;*/

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 
}

.titulo2 {
    /*background-color: #253140;
    color: #485B73;*/
    padding: 10pt 10% 10pt 10%;
    display: flex;
    justify-content: center;

    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    background: rgb(62,182,184);
    background: linear-gradient(180deg, rgba(62,182,184,1) 0%, rgba(10,65,103,1) 100%);

}


.descripcion{
    margin: auto;
    display: flex;
    -ms-flex-align: center;
    /*background-color: #485B73;
    border: solid;*/
    padding: 20pt 10% 20pt 10%;

    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.experiencia {
    margin: auto;
    padding: 0pt 10% 0pt 10%;

}

.educacion {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    padding: 0pt 10% 0pt 10%;


}

.habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo3 titulo3 titulo3 titulo3"
    "ubicacion telefono correo linkedin";


  justify-items: center; 
  align-items: center; 

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}
.titulo3 { grid-area: titulo3; }
.telefono { grid-area: telefono; }
.correo { grid-area: correo; }
.linkedin { grid-area: linkedin; }
.ubicacion { grid-area: ubicacion;}

a {
  color: rgb(249, 249, 249);
}

.manito{
  padding: 0 0 0 10px;
}

.proyectos {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 614px 40px 614px 40px 614px;
  gap: 16px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Proyecto1 Proyecto1 Proyecto1"
    "tablero1 tablero1 tablero1"
    "proyecto2 proyecto2 proyecto2"
    "tablero2 tablero2 tablero2"
    "proyecto3 proyecto3 proyecto3"
    "tablero3 tablero3 tablero3";
}

.Proyecto1 { 
  justify-self: center; 
  grid-area: Proyecto1; 
  height: 40px; }

.tablero1 { 
  justify-self: center; 
  grid-area: tablero1; }

.proyecto2 { 
  justify-self: center; 
  grid-area: proyecto2; }

.tablero2 { 
  justify-self: center; 
  grid-area: tablero2; }

.proyecto3 { 
  justify-self: center; 
  grid-area: proyecto3; }

.tablero3 { 
  justify-self: center; 
  grid-area: tablero3; }

.volver{
  margin: 10pt 0 10pt 0;
  padding: 5% 0 5% 0;
}

.infoProyectos {
  padding: 0pt 10% 0pt 10%;
  margin: 10pt 0 10pt 0;
}

/*Copia carrusel*/

.carrousel{
  width: 1028px;
  padding: 0pt 10% 0pt 10%;
  margin: 10pt 0 10pt 0;
}

.conteCarrousel{
  width: 1028x;
  height: 588px;
  overflow: hidden;
}

.itemCarrousel{
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselTarjeta{
  width: 100%;
  height: 100%;
}

.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

#itemCarrousel-1{
  background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
  background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
  background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController > a{
  text-decoration: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.itemCarrouselArrows > a > i{
  color: white;
}

.avn {
  padding: 0pt 10% 0pt 10%;
  margin: 10pt 0 10pt 0;
}